body {
  background-color: #eaf3f8;
}

.marmeto-shop-the-look__wrapper {
  --border-radius-m: 15px 15px 5px 5px;
  --border-radius-xlg: 40px 40px 10px 10px;
  --border-color: rgb(40, 40, 42);
  --translate-product: 50px;
  --prev-btn-radius: 5px 5px 20px 20px;
  --next-btn-radius: 20px 20px 5px 5px;
  margin: 12px 0;
}

.marmeto-shop-the-look__responsive_wrapper {
  max-width: 90%;
  margin: auto;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border-color);
}

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__responsive_wrapper {
    border-radius: var(--border-radius-xlg);
  }
}

.marmeto-shop-the-look__header h2 {
  font-size: 1.875rem;
  text-align: center;
}

/*-------------------------------------------CONTENT------------------------------------------- */

.marmeto-shop-the-look__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__content {
    flex-direction: row;
    padding-left: translateX(var(--translate-product));
  }
}

/*------------------------------------------MEDIA------------------------------------------- */

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__media {
    width: 90%;
  }
}

.w-full {
  width: 100%;
}

.marmeto-shop-the-look__media picture img {
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border-color);
}

/*-------------------------------------------PRODUCT CARD------------------------------------------- */
.marmeto-shop-the-look__product-wrapper {
  position: static;
  width: 90%;
  margin: auto;
  max-height: 500px;
}

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__product-wrapper {
    width: 20%;
    position: relative;
    transform: translateX(calc(var(--translate-product) * -1));
  }
}

.marmeto-shop-the-look__product-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-m);
    padding: 20px;
  }
}

.marmeto-shop-the-look__content .marmeto-shop-the-look__product-card picture img {
  height: auto;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-m);
  transition: transform 0.2s;
}

@media screen and (max-width: 989px) {
  .marmeto-shop-the-look__content .marmeto-shop-the-look__product-card picture img {
    max-width: 150px;
    max-height: 150px;
  }
}

.marmeto-shop-the-look__content .marmeto-shop-the-look__product-card picture img:hover {
  transform: scale(1.05);
}

@media screena and (min-width: 990px) {
  .marmeto-shop-the-look__content .marmeto-shop-the-look__product-card picture img {
    border: 1px solid var(--border-color);
  }
}

.marmeto-shop-the-look__product-info {
  flex-grow: 1;
  text-align: left;
}

.marmeto-shop-the-look__product-card h3 {
  font-weight: 500;
}

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__product-info {
    flex-grow: 0;
    text-align: center;
  }
}

.if-compare-at-price {
  color: red;
}

.line-through {
  text-decoration: line-through;
  color: black;
}
.rating {
  text-align: left;
}

@media screen and (min-width: 990px) {
  .rating {
    text-align: center;
  }
}

.marmeto-shop-the-look__product-card .tag {
  font-size: 6px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #367bf6;
  color: #fff;
  padding: 3px 6px;
  border-radius: 10px 10px 5px 5px;
}

@media screen and (min-width: 990px) {
  .marmeto-shop-the-look__product-card .tag {
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 15px 15px 5px 5px;
  }
}

/*------------------------------------BUTTONS------------------------------------*/
.splide__arrows.splide__arrows--ltr.buttons-container {
  top: 50%;
  position: absolute;
  right: -5%;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

@media screen and (max-width: 989px) {
  .splide__arrows.splide__arrows--ltr.buttons-container {
    display: none;
  }
}

.splide__arrow.splide__arrow--prev.previous-button {
  border: 1px solid var(--border-color);
  border-radius: var(--prev-btn-radius);
  position: static;
  transition: background-color 0.5s ease;
}

.splide__arrow.splide__arrow--prev.previous-button svg {
  fill: none;
}

.splide__arrow.splide__arrow--next.next-button {
  border: 1px solid var(--border-color);
  border-radius: var(--next-btn-radius);
  position: static;
  transition: background-color 0.5s ease;
}

.splide__arrow.splide__arrow--next.next-button svg {
  fill: none;
}

.splide__arrow.splide__arrow--next.next-button:active,
.splide__arrow.splide__arrow--next.next-button:hover,
.splide__arrow.splide__arrow--prev.previous-button:active,
.splide__arrow.splide__arrow--prev.previous-button:hover {
  background-color: rgb(54, 123, 246);
  border: 1px solid rgb(54, 123, 246);
  color: #fff;
}

/*------------------------------------HOTSPOTS--------------------------------*/
.marmeto-shop-the-look__media-hotspots {
  position: absolute;
  z-index: 1;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

.marmeto-shop-the-look__content .marmeto-shop-the-look__media .marmeto-shop-the-look__media-hotspots {
  cursor: pointer;
  border: none;
  display: block;
  position: absolute;
  background: #ffffff50;
  z-index: 2;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  animation: scale-hotspot 2s ease infinite;
  /* transform: translate(-1.6rem, -1.6rem); */
}

@keyframes scale-hotspot {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.marmeto-shop-the-look__content
  .marmeto-shop-the-look__media
  .marmeto-shop-the-look__media-hotspots:hover {
  transform: scale(1);
}

.marmeto-shop-the-look__content
  .marmeto-shop-the-look__media
  .marmeto-shop-the-look__media-hotspots::before {
  content: "";
  display: inline-block;
  background: #fff;
  height: 0.8rem;
  width: 0.8rem;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-0.4rem, -0.4rem);
}
